<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
</head>
<body>
    <h1 style="text-align: center">Каталог товаров</h1>
    <br><br>
    <div style="width: 32.5%; height: 100px; margin: 5px; background-color: aquamarine; float: left"></div>
    <div style="width: 32.5%; height: 100px; margin: 5px; background-color: aquamarine; float: left"></div>
    <div style="width: 32.5%; height: 100px; margin: 5px; background-color: aquamarine; float: left"></div>
    <div style="width: 32.5%; height: 100px; margin: 5px; background-color: aquamarine; float: left"></div>
    <div style="width: 32.5%; height: 100px; margin: 5px; background-color: aquamarine; float: left"></div>
    <div style="width: 32.5%; height: 100px; margin: 5px; background-color: aquamarine; float: left"></div>
    <div style="width: 32.5%; height: 100px; margin: 5px; background-color: aquamarine; float: left"></div>
    <div style="width: 32.5%; height: 100px; margin: 5px; background-color: aquamarine; float: left"></div>
    <div style="width: 32.5%; height: 100px; margin: 5px; background-color: aquamarine; float: left"></div>
</body>
</html>